{% load static %}
<html>
<head>
  <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
{% include 'navigation.html' %}
  <div class="about-section">
      <h1>“DON’T GO TO MART, BE SMART” </h1>
      <h2>SHOP SMART WITH US </h2>
  
      <p>
          Greetings to all the Customers out there!!!!!
          <br> <br>We welcome you to the platform where we consistently strive to offer the best of services.
          <br>This platform has been designed for those wishing to shop with ease and still avoid compromise with quality
          <br>We have got the best quality goods, excellent services and best offers to make your shopping experience beyond great
          <br>Access best quality and fresh  fruits, vegetables and grocery, straight from farm, at your fingertips, anytime and anywhere
          <br> <br> Thank you for choosing and supporting us!
  
  
      </p>
      <a href="/" class="link">Go to homepage</a>
  </div>
  

  <h2 style="text-align:center">GROCERY STORE</h2>
 
      <div class="column container-fluid">
          <div class="card text-center">
            <img src="{% static 'images/12.jpg' %}">
              <div class="container">
                  <h2>Anand Chauhan</h2>
                  <p class="title">Back-end Developer </p>
                  <p>Madan Mohan Malaviya University Of Technology, Gorakhpur <br> specialization: HTML-CSS-JAVASCRIPT-PYTHON-DJANGO(for this project) </p>
                  <p>anandchauhan123786@gmail.com</p>
                  <a href="https://www.linkedin.com/in/anand-chauhan-b2472122b/" target="_blank">
                      <p><button class="button " style="margin-inline-start: 0px;" >Contact</button></p>
                  </a>
              </div>
          </div>
      </div>
    
  